@font-face { font-family: 'CenturyGothic'; src: url("../fonts/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'CenturyGothic'; src: url("../fonts/CenturyGothic-Bold.woff") format("woff"), url("../fonts/CenturyGothic-Bold.ttf") format("truetype"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'CenturyGothic'; src: url("../fonts/CenturyGothic-Italic.woff") format("woff"), url("../fonts/CenturyGothic-Italic.ttf") format("truetype"); font-weight: normal; font-style: italic; }

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, img, strong, b, i, ol, ul, li, form, label, input, textarea, button, hr, header, footer, main, section, nav, article, aside { margin: 0; padding: 0; outline: none; font-weight: inherit; font-style: inherit; font-size: inherit; font-family: inherit; color: inherit; line-height: inherit; vertical-align: baseline; box-sizing: border-box; }

header, footer, main, section, nav, article, aside { display: block; }

button { display: inline-block; line-height: normal; overflow: visible; cursor: pointer; -webkit-appearance: none; -webkit-tap-highlight-color: transparent; }

input { line-height: normal; -webkit-appearance: none; }

img { display: inline-block; vertical-align: bottom; border: none; }

b, strong { font-weight: 700; }

i { font-style: italic; }

html, body { font-weight: 400; font-style: normal; line-height: 1; }

html, body { font-family: "CenturyGothic", sans-serif; font-size: 16px; color: #ffffff; background: #ffffff; height: 100%; }

a:hover { text-decoration: none; }

body { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

header { position: fixed; top: 0; left: 0; right: 0; z-index: 88; }

@media (min-width: 1001px) { header { transform: translate3d(0, 0, 0); } }

main { -ms-flex: 1 0 auto; flex: 1 0 auto; position: relative; overflow: hidden; }

footer { position: fixed; bottom: 0; left: 0; right: 0; z-index: 88; }

@media (min-width: 1001px) { footer { transform: translate3d(0, 0, 0); } }

h1 { font-size: 2em; }

h2 { font-size: 1.5em; }

h1, h2 { margin-bottom: 1em; }

hr { margin: 5px 0; border: none; border-bottom: 1px solid #555555; }

ul { line-height: 2.22222; padding-left: 1em; }

.row { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; }

.row_wrp { margin: 0 auto; max-width: 960px; }

.row_nw { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.row_col-middle { -ms-flex-align: center; align-items: center; }

.row_col-bottom { -ms-flex-align: end; align-items: flex-end; }

.row > [class*="col"] { padding: 10px; -ms-flex-positive: 0; flex-grow: 0; -ms-flex-negative: 1; flex-shrink: 1; }

.row_block { display: block; }

.row_block:after { display: block; content: ""; width: 100%; clear: both; }

.row_block > [class*="col"] { float: left; width: 100%; }

.row__br { clear: both; }
.disclaimer {
  width: 100%;
  background: #082631;
  padding: 1em;
}
.small {
  font-size: 9px;
  line-height: 1.5;
}
@media (min-width: 1001px) { .row_md-x-nw { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
  .row_md-x-block { display: block; }
  .row_md-x-block:after { display: block; content: ""; width: 100%; clear: both; }
  .row_md-x-block > [class*="col"] { float: left; width: 100%; } }

@media (min-width: 751px) { .row_sm-x-nw { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
  .row_sm-x-block { display: block; }
  .row_sm-x-block:after { display: block; content: ""; width: 100%; clear: both; }
  .row_sm-x-block > [class*="col"] { float: left; width: 100%; } }

@media (max-width: 1000px) { .row_wrp { max-width: 450px; }
  .row > [class*="col"] { padding: 15px; }
  .row:not(.row_nw) > [class*="col-"] { max-width: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; margin-left: 0; float: none !important; } }

.col { width: auto !important; -ms-flex-preferred-size: auto; flex-basis: auto; }

.col-0-1 { max-width: 4.166665%; -ms-flex-preferred-size: 4.166665%; flex-basis: 4.166665%; }

.col-1 { max-width: 8.33333%; -ms-flex-preferred-size: 8.33333%; flex-basis: 8.33333%; }

.col-1-2 { max-width: 12.499995%; -ms-flex-preferred-size: 12.499995%; flex-basis: 12.499995%; }

.col-2 { max-width: 16.66666%; -ms-flex-preferred-size: 16.66666%; flex-basis: 16.66666%; }

.col-2-3 { max-width: 20.83333%; -ms-flex-preferred-size: 20.83333%; flex-basis: 20.83333%; }

.col-3 { max-width: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; }

.col-3-4 { max-width: 29.16666%; -ms-flex-preferred-size: 29.16666%; flex-basis: 29.16666%; }

.col-4 { max-width: 33.33332%; -ms-flex-preferred-size: 33.33332%; flex-basis: 33.33332%; }

.col-4-5 { max-width: 37.499985%; -ms-flex-preferred-size: 37.499985%; flex-basis: 37.499985%; }

.col-5 { max-width: 41.66665%; -ms-flex-preferred-size: 41.66665%; flex-basis: 41.66665%; }

.col-5-6 { max-width: 45.833325%; -ms-flex-preferred-size: 45.833325%; flex-basis: 45.833325%; }

.col-6 { max-width: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; }

.col-6-7 { max-width: 54.166665%; -ms-flex-preferred-size: 54.166665%; flex-basis: 54.166665%; }

.col-7 { max-width: 58.33333%; -ms-flex-preferred-size: 58.33333%; flex-basis: 58.33333%; }

.col-7-8 { max-width: 62.499985%; -ms-flex-preferred-size: 62.499985%; flex-basis: 62.499985%; }

.col-8 { max-width: 66.66664%; -ms-flex-preferred-size: 66.66664%; flex-basis: 66.66664%; }

.col-8-9 { max-width: 70.833305%; -ms-flex-preferred-size: 70.833305%; flex-basis: 70.833305%; }

.col-9 { max-width: 74.99997%; -ms-flex-preferred-size: 74.99997%; flex-basis: 74.99997%; }

.col-9-10 { max-width: 79.166635%; -ms-flex-preferred-size: 79.166635%; flex-basis: 79.166635%; }

.col-10 { max-width: 83.33333%; -ms-flex-preferred-size: 83.33333%; flex-basis: 83.33333%; }

.col-10-11 { max-width: 87.499995%; -ms-flex-preferred-size: 87.499995%; flex-basis: 87.499995%; }

.col-11 { max-width: 91.66663%; -ms-flex-preferred-size: 91.66663%; flex-basis: 91.66663%; }

.col-11-12 { max-width: 95.833295%; -ms-flex-preferred-size: 95.833295%; flex-basis: 95.833295%; }

.col-12 { max-width: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; }

.col-offset-1 { margin-left: 8.33333%; }

.col-offset-3 { margin-left: 25%; }

.col-right { margin-left: auto; float: right !important; }

.col-grow { -ms-flex-positive: 1 !important; flex-grow: 1 !important; }

@media (max-width: 1000px) { .sm-row-col-12 > [class*="col-"] { max-width: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; margin-left: 0; float: none !important; }
  .sm-col { width: auto !important; max-width: none; -ms-flex-preferred-size: auto; flex-basis: auto; }
  .sm-col-0-1 { max-width: 4.166665%; -ms-flex-preferred-size: 4.166665%; flex-basis: 4.166665%; }
  .sm-col-1 { max-width: 8.33333%; -ms-flex-preferred-size: 8.33333%; flex-basis: 8.33333%; }
  .sm-col-1-2 { max-width: 12.499995%; -ms-flex-preferred-size: 12.499995%; flex-basis: 12.499995%; }
  .sm-col-2 { max-width: 16.66666%; -ms-flex-preferred-size: 16.66666%; flex-basis: 16.66666%; }
  .sm-col-2-3 { max-width: 20.83333%; -ms-flex-preferred-size: 20.83333%; flex-basis: 20.83333%; }
  .sm-col-3 { max-width: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; }
  .sm-col-3-4 { max-width: 29.16666%; -ms-flex-preferred-size: 29.16666%; flex-basis: 29.16666%; }
  .sm-col-4 { max-width: 33.33332%; -ms-flex-preferred-size: 33.33332%; flex-basis: 33.33332%; }
  .sm-col-4-5 { max-width: 37.499985%; -ms-flex-preferred-size: 37.499985%; flex-basis: 37.499985%; }
  .sm-col-5 { max-width: 41.66665%; -ms-flex-preferred-size: 41.66665%; flex-basis: 41.66665%; }
  .sm-col-5-6 { max-width: 45.833325%; -ms-flex-preferred-size: 45.833325%; flex-basis: 45.833325%; }
  .sm-col-6 { max-width: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; }
  .sm-col-6-7 { max-width: 54.166665%; -ms-flex-preferred-size: 54.166665%; flex-basis: 54.166665%; }
  .sm-col-7 { max-width: 58.33333%; -ms-flex-preferred-size: 58.33333%; flex-basis: 58.33333%; }
  .sm-col-7-8 { max-width: 62.499985%; -ms-flex-preferred-size: 62.499985%; flex-basis: 62.499985%; }
  .sm-col-8 { max-width: 66.66664%; -ms-flex-preferred-size: 66.66664%; flex-basis: 66.66664%; }
  .sm-col-8-9 { max-width: 70.833305%; -ms-flex-preferred-size: 70.833305%; flex-basis: 70.833305%; }
  .sm-col-9 { max-width: 74.99997%; -ms-flex-preferred-size: 74.99997%; flex-basis: 74.99997%; }
  .sm-col-9-10 { max-width: 79.166635%; -ms-flex-preferred-size: 79.166635%; flex-basis: 79.166635%; }
  .sm-col-10 { max-width: 83.33333%; -ms-flex-preferred-size: 83.33333%; flex-basis: 83.33333%; }
  .sm-col-10-11 { max-width: 87.499995%; -ms-flex-preferred-size: 87.499995%; flex-basis: 87.499995%; }
  .sm-col-11 { max-width: 91.66663%; -ms-flex-preferred-size: 91.66663%; flex-basis: 91.66663%; }
  .sm-col-11-12 { max-width: 95.833295%; -ms-flex-preferred-size: 95.833295%; flex-basis: 95.833295%; }
  .sm-col-12 { max-width: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; margin-left: 0; float: none !important; }
  .sm-col-first { -ms-flex-order: -11; order: -11; }
  .sm-col-second { -ms-flex-order: -10; order: -10; } }

@media (max-width: 750px) { .xs-col { width: auto !important; max-width: none; -ms-flex-preferred-size: auto; flex-basis: auto; }
  .xs-col-0-1 { max-width: 4.166665%; -ms-flex-preferred-size: 4.166665%; flex-basis: 4.166665%; }
  .xs-col-1 { max-width: 8.33333%; -ms-flex-preferred-size: 8.33333%; flex-basis: 8.33333%; }
  .xs-col-1-2 { max-width: 12.499995%; -ms-flex-preferred-size: 12.499995%; flex-basis: 12.499995%; }
  .xs-col-2 { max-width: 16.66666%; -ms-flex-preferred-size: 16.66666%; flex-basis: 16.66666%; }
  .xs-col-2-3 { max-width: 20.83333%; -ms-flex-preferred-size: 20.83333%; flex-basis: 20.83333%; }
  .xs-col-3 { max-width: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; }
  .xs-col-3-4 { max-width: 29.16666%; -ms-flex-preferred-size: 29.16666%; flex-basis: 29.16666%; }
  .xs-col-4 { max-width: 33.33332%; -ms-flex-preferred-size: 33.33332%; flex-basis: 33.33332%; }
  .xs-col-4-5 { max-width: 37.499985%; -ms-flex-preferred-size: 37.499985%; flex-basis: 37.499985%; }
  .xs-col-5 { max-width: 41.66665%; -ms-flex-preferred-size: 41.66665%; flex-basis: 41.66665%; }
  .xs-col-5-6 { max-width: 45.833325%; -ms-flex-preferred-size: 45.833325%; flex-basis: 45.833325%; }
  .xs-col-6 { max-width: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; }
  .xs-col-6-7 { max-width: 54.166665%; -ms-flex-preferred-size: 54.166665%; flex-basis: 54.166665%; }
  .xs-col-7 { max-width: 58.33333%; -ms-flex-preferred-size: 58.33333%; flex-basis: 58.33333%; }
  .xs-col-7-8 { max-width: 62.499985%; -ms-flex-preferred-size: 62.499985%; flex-basis: 62.499985%; }
  .xs-col-8 { max-width: 66.66664%; -ms-flex-preferred-size: 66.66664%; flex-basis: 66.66664%; }
  .xs-col-8-9 { max-width: 70.833305%; -ms-flex-preferred-size: 70.833305%; flex-basis: 70.833305%; }
  .xs-col-9 { max-width: 74.99997%; -ms-flex-preferred-size: 74.99997%; flex-basis: 74.99997%; }
  .xs-col-9-10 { max-width: 79.166635%; -ms-flex-preferred-size: 79.166635%; flex-basis: 79.166635%; }
  .xs-col-10 { max-width: 83.33333%; -ms-flex-preferred-size: 83.33333%; flex-basis: 83.33333%; }
  .xs-col-10-11 { max-width: 87.499995%; -ms-flex-preferred-size: 87.499995%; flex-basis: 87.499995%; }
  .xs-col-11 { max-width: 91.66663%; -ms-flex-preferred-size: 91.66663%; flex-basis: 91.66663%; }
  .xs-col-11-12 { max-width: 95.833295%; -ms-flex-preferred-size: 95.833295%; flex-basis: 95.833295%; }
  .xs-col-12 { max-width: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; margin-left: 0; float: none !important; }
  .xs-col-first { -ms-flex-order: -1; order: -1; } }

.btn, .vt-btn { display: -ms-inline-flexbox; display: inline-flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; font-size: 19px; font-weight: 700; color: #FFF; width: 30px; height: 30px; border-radius: 50%; line-height: normal; text-align: center; text-decoration: none; vertical-align: bottom; border: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; position: relative; transition: .5s; }

.btn:hover, .vt-btn:hover { opacity: 0.5; }

.btn { background: #09CDE7; margin-left: 9px; }

.btn_p1 { position: relative; top: 7px; margin-left: 15px; }

@media (max-width: 1000px) { .btn { position: relative; top: 3px; }
  .btn_p1 { top: 0; } }

.vt-btn { background: #C624B5; }

.link-btn { font-weight: 700; background: none; border: none; border-bottom: 1px solid #09CDE7; color: #09CDE7; transition: .5s; }

.link-btn:hover { border-bottom-color: transparent; }

.icon { display: inline-block; position: relative; }

.icon:before { display: block; content: ""; position: absolute; left: 0; }

.icon { min-height: 0.8125em; padding-left: 1.875em; }

.icon:before { width: 1.5625em; height: 1.3125em; top: -0.3125em; }

.header { display: -ms-flexbox; display: flex; height: 75px; -ms-flex-align: center; align-items: center; background: url(../images/lg-background.jpg) no-repeat 50% 0; background-size: 100% auto; transition: box-shadow .21s; }

.header_fixed, .mob-nav-is-opened .header { box-shadow: 0 1px 11px rgba(0, 0, 0, 0.21); }

.header__logo { width: 64px; padding-top: 8px; }

.header__logo img { width: 100%; height: auto; }

@media (max-width: 1000px) { .header { height: 50px; background: url(../images/lg-background-mob.jpg) no-repeat 50% 0; background-size: 100% auto; }
  .header__logo { width: 40px; height: 40px; padding-top: 3px; } }

.toggle:before, .toggle:after { display: block; content: ""; }

.toggle { width: 50px; height: 20px; background: #fff; border: 2px solid #212121; border-radius: 10px; position: relative; overflow: hidden; }

.toggle:before { width: 100%; height: 100%; background: #555555; position: absolute; top: 0; right: 38px; transition: .3s; }

.toggle:after { width: 16px; height: 16px; background: #09CDE7; border-radius: 50%; position: absolute; top: 0; left: 0; z-index: 2; transition: .3s; }

.toggle.toggled:before, .toggle.toggled:after { -ms-transform: translate(30px); transform: translate(30px); }

.popup-close-btn:after, .popup-close-btn:before { display: block; content: ""; }

/*popup*/
.popup { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: auto; z-index: 9; text-align: center; font-size: 0; }

.popup_visible { display: block; }

.popup:before { display: inline-block; content: ""; height: 100%; vertical-align: middle; }

.popup__window { display: none; vertical-align: middle; width: 100%; max-width: 778px; padding: 100px 0; font-size: 1rem; text-align: left; position: relative; }

.popup__window_visible { display: inline-block; }

.popup__inner { background: #FFF; border-radius: 8px; padding: 30px 30px 40px; font-size: 13px; line-height: 1.69231; color: #000000; }

.popup__inner:after { display: block; content: ""; width: 100%; clear: both; }

.popup__tit { font-weight: 700; text-align: center; margin: 40px 0 20px; line-height: 1.23077; }

.popup__title { font-size: 18px; font-weight: 700; color: #555555; margin-bottom: 30px; }

.popup__txt { line-height: 1.23077; margin-top: 45px; }

.popup__txt p { margin-top: 20px; }

.popup__txt p:first-child { margin-top: 0 !important; }

.popup-close-btn { display: block; width: 15px; height: 15px; position: absolute; right: 23px; top: 123px; z-index: 3; background: none; border: none; -webkit-appearance: none; transition: .5s; }

.popup-close-btn:after, .popup-close-btn:before { width: 130%; height: 2px; background: #09CDE7; position: absolute; left: -15%; top: 50%; margin-top: -1px; }

.popup-close-btn:after { -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.popup-close-btn:before { -ms-transform: rotate(45deg); transform: rotate(45deg); }

.popup-close-btn:hover { opacity: 0.5; }

@media (max-width: 1000px) { .popup { background: rgba(0, 0, 0, 0.5); } }

@media (max-width: 750px) { .popup { z-index: 99; }
  .popup__window { padding: 35px 5px; max-width: 500px; }
  .popup__inner { padding-left: 10px; padding-right: 10px; }
  .popup-close-btn { top: 55px; right: 21px; } }

.popup-is-opened { position: fixed; left: 0; right: 0; }

.autocomplete__input { display: block; width: 100%; height: 44px; padding: 12px 15px; border: 1px solid #B7CDD1; background: none; transition: .5s; }

.autocomplete { position: relative; }

.autocomplete__input { padding-right: 45px; visibility: hidden; opacity: 0; }

.autocomplete__input.toggled { visibility: visible; opacity: 1; }

.autocomplete__options { list-style: none; position: absolute; left: 0; top: 100%; width: 100%; height: 0; padding: 0; max-height: 250px; overflow: hidden; z-index: 5; border: 1px solid #B7CDD1; border-top: none; background: url(../images/lg-background.jpg) no-repeat 50% 0; background-size: 100% auto; visibility: hidden; transition: .5s; }

.autocomplete__options li { border-top: 1px solid #09CDE7; }

.autocomplete__options li.hidden { display: none; }

.autocomplete__options li:first-child { border: none; }

.autocomplete__options li.hover .autocomplete__val { background: #555555; }

.autocomplete__val { display: block; width: 100%; padding: 10px 15px; font-size: 13px; text-decoration: none; text-align: left; border: none; transition: .5s; background: none; }

.autocomplete__val:hover { background: #555555; }

.autocomplete_opened .autocomplete__options { visibility: visible; }

.autocomplete_opened .autocomplete__options.ovfauto { overflow: auto; }

@media (max-width: 750px) { .autocomplete__input { padding: 9px 10px 9px 40px; font-size: 13px; height: 38px; } }

.form__btn:before { display: block; content: ""; }

.form__text-input { display: block; width: 100%; height: 44px; padding: 12px 15px; border: 1px solid #B7CDD1; background: none; transition: .5s; }

.form__text-input { visibility: hidden; opacity: 0; }

.form__text-input.toggled { visibility: visible; opacity: 1; }

.form__field { position: relative; }

.form__field_btn .form__text-input { padding-right: 50px; }

.form__btn { display: block; height: 44px; position: absolute; right: 0; top: 0; z-index: 3; border: 1px solid transparent; background: none; -webkit-appearance: none; transition: .5s; }

.form__btn:before { position: absolute; left: 50%; top: 50%; }

.form__btn_search { width: 42px; }

.form__btn_search:before { width: 24px; height: 24px; margin: -12px 0 0 -12px; background: url(../images/search.svg) no-repeat 50% 50%; background-size: 100% auto; }

.form__btn:hover { opacity: .5; }

@media (max-width: 750px) { .form__btn { right: auto; left: 0; height: 38px; width: 36px; } }

/*field error*/
.field-error-tip { font-size: 12px; color: #ff0000; padding-top: 3px; display: none; position: absolute; left: 0; }

.field-error .field-error-tip, .field-error + .field-error-tip { display: block; }

.field-error input { border-color: #ff0000; }

.bubble-close-btn:after, .bubble-close-btn:before { display: block; content: ""; }

.bubble { position: absolute; top: 0; left: 0; z-index: 7; width: 0; max-width: 350px; margin-top: -10px; font-size: 13px; line-height: 1.76923; color: #000000; visibility: hidden; opacity: 0; transition: opacity .5s; }

.bubble_visible { display: block; visibility: visible; opacity: 1; }

.bubble-close-btn { display: block; width: 15px; height: 15px; position: absolute; right: 20px; top: 20px; z-index: 3; background: none; border: none; -webkit-appearance: none; transition: .5s; }

.bubble-close-btn:after, .bubble-close-btn:before { width: 130%; height: 2px; background: #C624B5; position: absolute; left: -15%; top: 50%; margin-top: -1px; }

.bubble-close-btn:after { -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.bubble-close-btn:before { -ms-transform: rotate(45deg); transform: rotate(45deg); }

.bubble-close-btn:hover { opacity: 0.5; }

.bubble__inner { position: relative; }

.bubble__inner > div { background: #ffffff; padding: 30px 30px 50px; border-radius: 8px !important; }

.bubble__tit { display: block; font-size: 18px; font-weight: 700; }

.bubble_v1 { margin: 65px 0 0 -65px; -ms-transform: translate(0, 100%); transform: translate(0, 100%); }

.bubble_v2 { margin: 137px 0 0 -212px; -ms-transform: translate(0, 100%); transform: translate(0, 100%); }

.bubble_v3 { margin: -6px 0 0 -340px; }

.bubble_v4 { margin: -30px 0 0 -49px; }

.bubble_v5 { margin-top: -20px; }

.bubble_v6 { -ms-transform: translate(-100%, 39px); transform: translate(-100%, 39px); margin-left: -35px; }

.bubble_v7 { -ms-transform: translate(0, 100%); transform: translate(0, 100%); margin: 100px 0 0 -58px; }

@media (max-width: 1000px) { .bubble { position: fixed; overflow: auto; left: 0 !important; top: 0 !important; margin: 0 !important; z-index: 99; max-width: none; width: 100% !important; height: 100%; font-size: 0; background: rgba(0, 0, 0, 0.5); -ms-transform: translate(0, 0) !important; transform: translate(0, 0) !important; text-align: center; }
  .bubble:before { display: inline-block; content: ""; height: 100%; vertical-align: middle; }
  .bubble__inner { display: inline-block; vertical-align: middle; width: 310px; padding: 35px 0; text-align: left; }
  .bubble__inner > div { padding-left: 15px; padding-right: 15px; font-size: 13px; }
  .bubble-close-btn { top: 55px; } }

.footer { height: 55px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; background: #4F5C60; }

.footer div { width: 100%; font-size: 24px; line-height: normal; text-transform: uppercase; text-align: center; }

@media (max-width: 1000px) { .footer div { font-size: 11px; line-height: 1.81818; } }

.list li:before, .cmpr__head::after { display: block; content: ""; }

.list__icon .i { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; }

/*main*/
.main { background-image: url(../images/lg-background.jpg); background-repeat: no-repeat; background-position: 0 0; background-size: 100% auto; background-attachment: fixed; padding-bottom: 55px; }

@media (max-width: 1000px) { .main { background-image: url(../images/lg-background-mob.jpg); background-attachment: scroll; background-size: cover; } }

/* first-screen */
.first-screen { padding-top: 95px; margin-bottom: 350px; }

@media (max-width: 1000px) { .first-screen { padding-top: 65px; margin-bottom: 0; } }

/*section*/
.section { margin-top: 120px; margin-bottom: 100px; }

@media (max-width: 1000px) { .section { margin-top: 30px; margin-bottom: 30px; } }

/*list*/
.list { list-style: none; padding-left: 0; }

.list li { line-height: 2.1875; padding-left: 42px; margin-top: 35px; position: relative; }

.list li:first-child { margin-top: 0 !important; }

.list li:before { width: 9px; height: 9px; border-radius: 50%; position: absolute; left: 4px; top: 9px; background: #09CDE7; }

.list__icon { padding-left: 60px !important; line-height: 1.8125 !important; margin-top: 10px !important; min-height: 29px; }

.list__icon:first-child { margin-top: 0 !important; }

.list__icon:before { display: none !important; }

.list__icon .i { position: absolute; top: 0; left: 0; width: 29px; height: 29px; padding: 0 6px; border-radius: 50%; background: #ffffff; }

.list__icon .i img { width: 100%; height: auto; }

@media (max-width: 1000px) { .list__icon { float: left; width: 50%; padding: 32px 0 0 !important; margin-top: 20px !important; font-size: 14px; }
  .list__icon:nth-child(2) { margin-top: 0 !important; }
  .list__icon:nth-child(even) { padding-left: 15px !important; }
  .list__icon:nth-child(even) .i { left: 15px; } }

/*image*/
.fullwidth-img { width: 100%; height: auto; }

/* title */
.title { font-size: 32px; font-weight: 700; letter-spacing: 1.05px; text-transform: uppercase; text-align: center; margin-bottom: 55px; }

@media (max-width: 750px) { .title { font-size: 22px; margin-bottom: 8px; } }

.tit { font-size: 18px; font-weight: 700; line-height: 1.66667; }

@media (max-width: 1000px) { .tit { font-size: 16px; margin-bottom: 32px; }
  .tit br:not([class*="hidden"]) { display: none; } }

.justify-vertical { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: justify; justify-content: space-between; }

@media (max-width: 1000px) { .justify-vertical ul { margin-bottom: 32px; } }

/* compare */
.cmpr { text-align: center; -ms-flex-positive: 1 !important; flex-grow: 1 !important; }

.cmpr__head { line-height: 1.23077; padding-bottom: 9px; margin-bottom: 20px; position: relative; }

.cmpr__head::after { position: absolute; bottom: 0; left: -10px; right: -10px; height: 1px; background: #09CDE7; }

.cmpr__head + p { margin-top: 0 !important; }

.cmpr p { line-height: 1.23077; margin-top: 30px; }

@media (max-width: 750px) { .cmpr { padding-left: 0 !important; padding-right: 0 !important; border-bottom: 1px solid #09CDE7; text-align: left; width: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; }
  .cmpr:after { display: block; content: ""; width: 100%; clear: both; }
  .cmpr__head { float: left; width: 95px; position: relative; bottom: 2px; margin: 0; }
  .cmpr__head::after { display: none; }
  .cmpr p { font-size: 12px; margin-left: 110px; } }

/* text block */
.block { line-height: 1.875; position: relative; }

.block h2 { margin-bottom: 0.4375em; }

@media (min-width: 1001px) { .block { visibility: hidden; opacity: 0; transition: .5s; }
  .block.vis { visibility: visible; opacity: 1; } }

@media (max-width: 1000px) { .block { line-height: 1.85714; }
  .block, .block .tit { font-size: 14px; }
  div .block { margin: 20px 0 0 !important; }
  div .block.sm-mt-0 { margin-top: 0 !important; }
  .block:not(.block_br) br:not([class*="hidden"]) { display: none; } }

/* images */
.img-block-1, .img-block-2, .img-block-3, .img-block-4, .img-block-5 { display: inline-block; position: relative; }

.img-block-1 img, .img-block-2 img, .img-block-3 img, .img-block-4 img, .img-block-5 img { width: 100%; height: auto; }

.img-block-1 .vt-btn, .img-block-2 .vt-btn, .img-block-3 .vt-btn, .img-block-4 .vt-btn, .img-block-5 .vt-btn { position: absolute; }

@media (min-width: 1001px) { .img-block-1 .vt-btn, .img-block-2 .vt-btn, .img-block-3 .vt-btn, .img-block-4 .vt-btn, .img-block-5 .vt-btn { visibility: hidden; opacity: 0; } }

@media (min-width: 1001px) { .abs.img-block-1, .abs.img-block-2, .abs.img-block-3, .abs.img-block-4, .abs.img-block-5 { position: absolute; }
  .fix.img-block-1, .fix.img-block-2, .fix.img-block-3, .fix.img-block-4, .fix.img-block-5 { position: fixed; } }

@media (max-width: 1000px) { .img-block-1, .img-block-2, .img-block-3, .img-block-4, .img-block-5 { display: block; margin-left: auto !important; margin-right: auto !important; left: 0 !important; top: 0 !important; bottom: 0 !important; } }

.img-block-1 { width: 225px; }

.img-block-1 .vt-btn { top: 30%; right: -14px; visibility: visible; opacity: 1; }

.img-block-2 { width: 150px; margin-top: -17px; z-index: 3; }

.img-block-2 .vt-btn { top: 22%; left: -15px; }

.img-block-2__arrow { margin-top: 20px; }

@media (min-width: 1001px) { .img-block-2 { transition: transform .3s; -ms-transform-origin: 50% top; transform-origin: 50% top; }
  .img-block-2__arrow { visibility: hidden; opacity: 0; transition: .5s; }
  .img-block-2.fix, .img-block-2.abs { -ms-transform: scale(0.95); transform: scale(0.95); }
  .img-block-2.free { left: 0 !important; top: 0 !important; position: relative !important; }
  .img-block-2.free-2 { -ms-transform: scale(1) !important; transform: scale(1) !important; }
  .img-block-2.free-2 .img-block-2__arrow, .img-block-2.free-2 .vt-btn { visibility: visible; opacity: 1; } }

.img-block-3 { width: 276px; }

@media (min-width: 1001px) { .img-block-3 { opacity: 0; transition: opacity .5s; }
  .img-block-3.fix, .img-block-3.abs { visibility: visible; opacity: 1; }
  .img-block-3 .vt-btn { visibility: visible; opacity: 1; } }

.img-block-3 .vt-btn_v1 { top: 39%; left: 50px; }

.img-block-3 .vt-btn_v2 { top: 89%; left: 201px; }

.img-block-4 { width: 163px; margin-top: 55px; z-index: 2; }

.img-block-4 .vt-btn { top: 21%; right: 10px; }

@media (min-width: 1001px) { .img-block-4.free { left: 0 !important; top: 0 !important; position: relative !important; }
  .img-block-4.free .vt-btn { visibility: visible; opacity: 1; } }

.img-block-5 { width: 266px; margin: 99px 0 0 32px; }

.img-block-5 .vt-btn_v1 { top: 14%; left: 28%; }

.img-block-5 .vt-btn_v2 { top: 48%; left: 88%; }

@media (min-width: 1001px) { .img-block-5.free { left: 32px !important; top: 0 !important; position: relative !important; }
  .img-block-5.free .vt-btn { visibility: visible; opacity: 1; } }

@media (max-width: 1000px) { .img-block-1 { margin-top: 20px; }
  .img-block-5 { margin: 15px auto 0; } }



.arr { position: absolute; opacity: 0; transition: .5s; }

.arr_vis { opacity: 1; }

.arr img { width: 100%; height: auto; }

.arr_v1 { width: 153px; top: 100px; right: -95px; }

.arr_v2 { width: 110px; top: -90px; left: -14px; }

.arr_v3 { width: 80px; top: 5px; right: -95px; }

.arr_v4 { width: 86px; top: 90%; right: -64px; }

.arr_v5 { width: 122px; top: -38px; right: -56px; }

.arr_v6 { width: 76px; top: 100%; left: 43px; margin-top: 23px; }

.arr_v7 { width: 108px; top: -47px; right: -40px; }

@media (max-width: 1000px) { .arr { display: none; } }

.sm-arr { position: absolute; }

.sm-arr img { width: 100%; height: auto; }

.sm-arr_v1 { width: 20px; top: -58px; right: 9%; }

.sm-arr_v2 { width: 17px; top: -108px; right: 6%; -ms-transform: rotate(-10deg); transform: rotate(-10deg); }

.sm-arr_v3 { width: 15px; top: 104%; right: 27%; -ms-transform: rotate(19deg); transform: rotate(19deg); }

.sm-arr_v4 { width: 82px; bottom: 88%; right: 23%; }

@media (min-width: 1000px) { .sm-arr { display: none; } }

/*text color*/
.c-red { color: #ff0000 !important; }

.c-gray { color: #555555 !important; }

.c-blue { color: #09CDE7 !important; }

/*text align*/
.ta-l { text-align: left !important; }

.ta-c { text-align: center !important; }

.ta-r { text-align: right !important; }

/*background*/
.bg-gray { background: #555555; }

/*border*/
.brad-5 { border-radius: 5px; }

/*width*/
.maxw-100 { max-width: 100px; }

/*height*/
.minh-100per { min-height: 100%; }

/*position*/
.pos-r { position: relative !important; }

/*marging*/
.mt-200 { margin-top: 200px !important; }

.mt-100 { margin-top: 100px !important; }

.mt-80 { margin-top: 80px !important; }

.mt-60 { margin-top: 60px !important; }

.mt-40 { margin-top: 40px !important; }

.mt-30 { margin-top: 30px !important; }

.mt-20 { margin-top: 20px !important; }

.mt-10 { margin-top: 10px !important; }

.mt-0 { margin-top: 0 !important; }

.mb-0 { margin-bottom: 0 !important; }

.ml-45 { margin-left: 45px !important; }

.ml-30 { margin-left: 30px !important; }

.ml-15 { margin-left: 15px !important; }

.ml-0 { margin-left: 0 !important; }

.mr-50 { margin-right: 50px !important; }

.mr-15 { margin-right: 15px !important; }

.mr-0 { margin-right: 0 !important; }

.m-0 { margin: 0 !important; }

/*padding*/
.pt-40 { padding-top: 40px !important; }

.pt-15 { padding-top: 15px !important; }

.pt-0 { padding-top: 0 !important; }

.pb-0 { padding-bottom: 0 !important; }

.pl-0 { padding-left: 0 !important; }

.pr-60 { padding-right: 60px !important; }

.pr-0 { padding-right: 0 !important; }

.p-x-0 { padding-left: 0 !important; padding-right: 0 !important; }

.p-y-0 { padding-top: 0 !important; padding-bottom: 0 !important; }

.p-0 { padding: 0 !important; }

/*display*/
.hidden { display: none !important; }

@media (min-width: 1001px) { .md-x-hidden { display: none !important; } }

@media (max-width: 1000px) { .sm-hidden { display: none !important; }
  .sm-p-x-15 { padding-left: 15px !important; padding-right: 15px !important; }
  .sm-p-x-0 { padding-left: 0 !important; padding-right: 0 !important; }
  .sm-p-y-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
  .sm-p-0 { padding: 0 !important; }
  .sm-mt-0 { margin-top: 0 !important; }
  .sm-ml-10 { margin-left: 10px !important; }
  .sm-m-x-0 { margin-left: 0 !important; margin-right: 0 !important; }
  .sm-m-y-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
  .sm-m-0 { margin: 0 !important; } }

@media (min-width: 751px) { .sm-x-hidden { display: none !important; } }

@media (max-width: 750px) { .xs-hidden { display: none !important; } }

/*# sourceMappingURL=style.css.map */
.main {
  background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_ms/lg-background.jpg) repeat-y;
  backgroun-size: cover;
}
.header_fixed {
  background-color: #082631;
}