html {
  background-color: #fff; }

body {
  font-family: 'HeliosC';
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  color: #3b3b3b;
  background-color: #fff;
  line-height: 1.5; }

img {
  max-width: 100%; }

h1, h2, h3, h4 {
  margin: 0; }

.dnr_section {
  padding-top: 4em;
  padding-bottom: 4em; }

.grid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5%;
  padding-left: 5%;
  max-width: 1108px;
  width: 100%; }

.text-center {
  text-align: center; }

.text-bold {
  font-weight: bold; }

.text-transform {
  text-transform: uppercase; }

.text-white {
  color: #ffffff; }

.text-blue {
  color: #0f70ba; }

.text-dark-blue {
  color: #0a487f; }

.text-light-blue {
  color: #4ca4e7; }

.item-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.item-flex2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.bottom {
  margin-bottom: 1em; }

h1 {
  font-family: 'HeliosCondC';
  font-weight: bold;
  font-size: 4em; }

h2 {
  font-family: 'HeliosCondC';
  font-weight: bold;
  font-size: 2.5em; }

h3 {
  font-family: 'HeliosLightC';
  font-weight: 300;
  font-size: 2em; }

h4 {
  font-size: 1.5em; }

.font-family {
  font-family: 'HeliosCondC'; }

.p22 {
  font-size: 1.22em; }

ul {
  padding-left: 20px; }

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5%;
  padding-left: 5%;
  max-width: 1123px; }

._0 {
  background: url(public/bg_1.png) no-repeat;
  position: relative;
  min-height: 24em;
  padding-top: 7em;
  background-size: cover; }

._0 .container > div {
  position: relative; }

._0 .button {
  position: absolute;
  left: -9%;
  top: 80%; }

._0 .position {
  position: absolute;
  right: 1%;
  top: -59%; }

._1 {
  background: url(public/bg_2.png) top 20% right 10% no-repeat; }

._1 img {
  display: block;
  margin: 0 auto; }

._2 {
  background: url(public/bg_3.png) no-repeat;
  padding-bottom: 0;
  background-size: cover; }

._2 img {
  display: block;
  margin: 0 auto;
  margin-top: -5em; }

._3 {
  background: linear-gradient(to bottom, #005a9f, #0f497e); }

._3 h4 {
  font-family: 'HeliosCondC'; }

._3 .item-flex > div {
  width: 70%; }

._4 {
  padding-bottom: 0; }

._4 .item-flex {
  flex-wrap: wrap; }

._4 .item-flex > div {
  box-shadow: 2px 4px 20px #ebf1f6;
  margin: 1em;
  margin-bottom: 4em;
  padding: 0.5em 1em;
  border-radius: 30px;
  position: relative;
  padding-top: 2em; }

._4 .item-flex .two {
  width: 43%; }

._4 .item-flex .three {
  width: 26%; }

._4 .item-flex img {
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  left: 50%; }

._4 h4.bottom {
  margin-bottom: 3em; }

._5 {
  padding-top: 2em; }

._5 .item-flex {
  flex-wrap: wrap; }

._5 .item-flex > div {
  width: 26%;
  border: 4px solid #e1eef8;
  border-radius: 30px;
  padding: 1.5em 1em; }

._5 .item-flex > div p {
  margin: 0; }

._6 {
  background: url(public/bg_1.png) no-repeat;
  position: relative;
  background-size: cover; }

._6 .container > div {
  width: 70%; }

._6 .position {
  position: absolute;
  top: -7em;
  right: 0; }

._6 h2 {
  font-size: 2.1em; }

._7 .item-flex > div {
  width: 48%; }

._7 .item-flex > div > div {
  border: 4px solid #e1eef8;
  border-radius: 30px;
  padding: 1.5em; }

._7 .item-flex > div div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

._7 .item-flex > div img {
  padding-right: 1em; }

._7 h4 {
  margin-bottom: 0; }

._7 .item-flex2 div {
  width: 45%; }

.small {
  font-size: 0.6em; }

.text-right {
  text-align: right; }

.footer {
  background: #f5fafd; }

.footer div img {
  padding-left: 1em;
  padding-right: 1em; }

.footer .item-flex > div:first-child {
  width: 45%; }

.block {
  display: block; }

.none {
  display: none; }

.text-link {
  color: #004f9c;
  text-decoration: underline; }

._8 {
  background: #f5fafd; }

._8 .item-flex > div:last-child {
  width: 71%; }

@media (max-width: 1180px) {
  ._0 .position {
    position: absolute;
    right: 8%;
    top: 13%;
    width: 15%; }
  ._6 .position {
    top: 17%; }
  .block {
    display: none !important; }
  .none {
    display: block !important; } }

@media (max-width: 1222px) {
  ._4 .item-flex .two {
    min-height: 207px; } }

@media (max-width: 1142px) {
  ._4 .item-flex .two {
    width: 37%; }
  ._4 .item-flex .three {
    width: 21%;
    min-height: 163px; } }

@media (max-width: 1104px) {
  body {
    font-size: 16px; } }

@media (max-width: 996px) {
  ._7 .item-flex > div img {
    width: 50% !important; }
  ._7 .item-flex > div {
    width: 38%; }
  .item-flex2 {
    flex-direction: column; }
  ._7 .item-flex2 div {
    width: 100%; } }

@media (max-width: 900px) {
  ._6 .position {
    position: relative;
    display: block;
    margin: 0 auto; }
  ._6 {
    background-size: cover; }
  ._6 .container > div {
    width: 100%; }
  h1 {
    font-size: 3em; }
  h3, h2 {
    font-size: 1.5em; }
  h4 {
    font-size: 1em; }
  ._0 {
    min-height: 20em;
    padding-top: 4em; }
  ._3 .item-flex {
    flex-direction: column; }
  ._3 .item-flex > div {
    width: 100%; }
  ._4 .item-flex > div {
    width: 100% !important;
    min-height: auto !important;
    padding: 1em; }
  ._7 .item-flex > div {
    width: 41%; }
  ._6 h2 br {
    display: none; }
  ._7 .item-flex > div div div {
    flex-direction: column; }
  ._7 .item-flex > div img {
    width: 100% !important;
    margin-top: 1em; }
  .p22 {
    font-size: 1em; } }

@media (max-width: 746px) {
  ._7 .item-flex {
    flex-direction: column; }
  ._7 .item-flex > div {
    width: 50%;
    margin-bottom: 1em; }
  ._2 img {
    margin-top: -2em; }
  ._0 .position {
    display: none !important; }
  ._0 .button {
    left: 0; }
  ._8 .item-flex {
    flex-direction: column; } }

@media (max-width: 644px) {
  ._5 .item-flex > div {
    width: 50%;
    margin-bottom: 1em; }
  ._5 .item-flex {
    flex-direction: column; }
  .footer .item-flex {
    flex-direction: column; }
  .footer .item-flex > div:first-child {
    width: 100%;
    margin-bottom: 2em; } }

@media (max-width: 452px) {
  ._7 .item-flex > div {
    width: 80%; }
  h1 {
    font-size: 2em; }
  ._0 {
    min-height: 16em; }
  h2 {
    font-size: 1.5em !important; } }

@media (max-width: 380px) {
  ._0 .button {
    top: 92%; } }


/*# sourceMappingURL=bundle.css.map*/