@charset "UTF-8";
* {
  box-sizing: border-box; }

html {
  background-color: #fff; }

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  color: #000000;
  background: #fff;
  line-height: 1.4; }

img {
  max-width: 100%;
  display: block; }

h1, h2, h3, h4, p {
  margin: 0; }

.item-center {
  margin: 0 auto; }

.text-bold {
  font-weight: 900 !important; }

.text-center {
  text-align: center; }

.text-style {
  font-style: italic; }

.text-right {
  text-align: right; }

.text-semi {
  font-weight: 700 !important; }

.text-white {
  color: #ffffff; }

.text-transform {
  text-transform: uppercase; }

.section__content + .section__content {
  margin-top: 2em; }

.section__content .section__content {
  margin-top: 2em; }

.text + .text {
  margin-top: 1em; }

.section {
  position: relative; }

.grid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1109px;
  width: 100%; }

.grid__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.grid__row._lg_content_between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.grid__row._lg_content_around {
  justify-content: space-around; }

.grid__row._lg_content_start {
  justify-content: flex-start; }

.grid__row._lg_content_end {
  justify-content: flex-end; }

.grid__row._lg_content_center {
  justify-content: center; }

.grid__row._lg_items_end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.grid__row._lg_items_start {
  align-items: flex-start; }

.grid__row._lg_items_center {
  align-items: center; }

.grid__col {
  padding-left: 15px;
  padding-right: 15px; }

.grid__col._lg_1 {
  width: 8.33333%; }

.grid__col._lg_2 {
  width: 16.66667%; }

.grid__col._lg_3 {
  width: 25%; }

.grid__col._lg_4 {
  width: 33.33333%; }

.special {
  font-size: 15px; }

.grid__col._lg_5 {
  width: 41.66667%; }

.grid__col._lg_6 {
  width: 50%; }

.grid__col._lg_7 {
  width: 58.33333%; }

.grid__col._lg_8 {
  width: 66.66667%; }

.grid__col._lg_9 {
  width: 75%; }

.grid__col._lg_10 {
  width: 83.33333%; }

.grid__col._lg_11 {
  width: 91.66667%; }

.grid__col._lg_12 {
  width: 100%; }

.text-green {
  color: #248944; }

.text-aqua {
  color: #035670; }

.text-light-grey {
  color: #a0a0a0; }

._1 {
  background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_1.png) center no-repeat;
  background-size: cover; }

._2 {
  background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_2.png) center no-repeat;
  background-size: cover; }

._3 {
  background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_3.png) center no-repeat;
  background-size: cover; }

._4 {
  background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_4.png) center no-repeat;
  background-size: cover; }

._5 {
  background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_5.png) center no-repeat;
  background-size: cover; }

._6 {
  background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_6.png) center no-repeat;
  background-size: cover; }

._7 {
  background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_7.png) center no-repeat;
  background-size: cover; }

.title._lg {
  font-size: 1.64em; }

.text._lg {
  font-size: 1.5em; }

.title._md {
  font-size: 1.18em; }

.text._md {
  font-size: 0.7em; }

.text._sm {
  font-size: 0.73em; }

.title._sm {
  font-size: 0.95em; }

.small {
  font-size: 0.55em; }

.sup {
  color: #a5e347;
  cursor: pointer;
  text-decoration: none; }

.navigation img {
  padding-top: 30px; }

.navigation img:hover {
  animation: pulsing 2s infinite both alternate ease-out; }

.button img {
  margin-left: -54px;
  animation: jumping 2s infinite both alternate ease-out; }

@keyframes jumping {
  0% {
    transform: translateY(-7px); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(-7px); } }

@keyframes pulsing {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.75); } }

.meteors > p:first-child {
  padding-top: 1em; }

.meteors > p:nth-child(2) {
  padding-top: 5em;
  padding-left: 4em; }

.meteors > p:last-child {
  padding-top: 4em;
  padding-left: 2em; }

.text-vertical {
  position: absolute;
  right: -100px;
  bottom: 100px;
  transform: rotate(-90deg); }

._2 .small {
  padding-left: 2em; }

._2 .text-verticalБ ._3 .text-vertical, ._4 .text-vertical {
  right: 0; }

.list {
  padding-left: 20px; }

.list > li:first-child {
  list-style-image: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/list_1.png); }

.list > li:last-child {
  list-style-image: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/list_2.png); }

._5 .button img {
  margin-left: 4em; }

.tingle-modal-box {
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #0f9dd4, #3dc9bb) 56 45%; }

.tingle-modal__close {
  display: none !important; }

.tingle-modal-box__content {
  position: relative; }

.tingle-modal-box__content .position {
  position: absolute;
  right: -2em;
  top: -2em;
  cursor: pointer; }

._6 .navigation img {
  margin-left: -1.5em; }

.test .tingle-modal-box {
  border: none; }

.test .tingle-modal-box__content {
  padding: 0; }

.test .tingle-modal-box {
  width: auto;
  background: none; }

.form {
  margin-top: 2em;
  position: relative; }

.form textarea {
  width: 100%;
  border-radius: 20px;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #0f9dd4, #3dc9bb) 56 45%; }

.form img {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
  left: 50%;
  cursor: pointer; }

.changing-text {
  display: none; }

.changing-text.on {
  display: block; }

.animation {
  opacity: 0;
  animation-fill-mode: both !important; }

.section._visible .animation._type_fadeIn {
  animation-name: fadeIn; }

.section._visible .animation._type_slideInUp {
  animation-name: fadeIn, slideUp_1x; }
  .section._visible .animation._type_slideInUp-2x {
    animation-name: fadeIn, slideUp_2x; }

.section._visible .animation._type_slideInDown {
  animation-name: fadeIn, slideDown_1x; }
  .section._visible .animation._type_slideInDown-2x {
    animation-name: fadeIn, slideDown_2x; }

.section._visible .animation._type_slideInLeft {
  animation-name: fadeIn, slideLeft_1x; }
  .section._visible .animation._type_slideInLeft-2x {
    animation-name: fadeIn, slideLeft_2x; }

.section._visible .animation._type_slideInRight {
  animation-name: fadeIn, slideRight_1x; }
  .section._visible .animation._type_slideInRight-2x {
    animation-name: fadeIn, slideRight_2x; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes slideUp_1x {
  from {
    transform: translateY(15px); }
  to {
    transform: translateY(0); } }

@keyframes slideUp_2x {
  from {
    transform: translateY(30px); }
  to {
    transform: translateY(0); } }

@keyframes slideDown_1x {
  from {
    transform: translateY(-15px); }
  to {
    transform: translateY(0); } }

@keyframes slideDown_2x {
  from {
    transform: translateY(-30px); }
  to {
    transform: translateY(0); } }

@keyframes slideLeft_1x {
  from {
    transform: translateX(-15px); }
  to {
    transform: translateY(0); } }

@keyframes slideLeft_2x {
  from {
    transform: translateX(-30px); }
  to {
    transform: translateY(0); } }

@keyframes slideRight_1x {
  from {
    transform: translateX(15px); }
  to {
    transform: translateY(0); } }

@keyframes slideRight_2x {
  from {
    transform: translateX(30px); }
  to {
    transform: translateY(0); } }

.mob {
  display: none; }

.arrows {
  position: absolute;
  right: 10px;
  bottom: 0; }

.arrows a {
  display: block; }

.arrows a.top {
  transform: rotate(-90deg); }

.arrows a.down {
  transform: rotate(90deg);
  padding-top: 13px; }

.arrows svg {
  width: 50px;
  fill: #ffffff;
  opacity: 0.5; }

._3 .arrows svg {
  fill: #2d485a; }

.arrows svg:hover {
  opacity: 1; }

._7 .button img {
  margin: 0; }

.question {
  display: none; }

.question.active {
  display: block; }

@media (max-width: 1200px) {
  body {
    font-size: 18px; }
  .meteors > p {
    padding-left: 0 !important;
    text-align: left !important; }
  .grid__col._md_1 {
    width: 8.33333%; }
  .grid__col._md_2 {
    width: 16.66667%; }
  .grid__col._md_3 {
    width: 25%; }
  .grid__col._md_4 {
    width: 33.33333%; }
  .grid__col._md_5 {
    width: 41.66667%; }
  .grid__col._md_6 {
    width: 50%; }
  .grid__col._md_7 {
    width: 58.33333%; }
  .grid__col._md_8 {
    width: 66.66667%; }
  .grid__col._md_9 {
    width: 75%; }
  .grid__col._md_10 {
    width: 83.33333%; }
  .grid__col._md_11 {
    width: 91.66667%; }
  .grid__col._md_12 {
    width: 100%; }
  .grid {
    max-width: 768px; }
  .grid__row._md_content_start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .grid__row._md_content_end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .grid__row._md_content_center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .grid__row._md_content_between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .grid__row._md_content_around {
    height: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .grid__row._md_items_start {
    align-items: flex-start; }
  .grid__row._md_items_center {
    align-items: center; } }

@media (max-width: 767px) {
  ._7 .text._lg {
    font-size: 1.7em; }
  .question .button img {
    margin: 0 auto; }
  .question .button.ll img {
    margin-top: -5em; }
  .question p br {
    display: none; }
  .arrows {
    display: none; }
  .tingle-modal .position {
    display: none; }
  .tingle-modal__close {
    display: block !important; }
  ._6 {
    padding-top: 4em; }
  ._6 .fp-tableCell {
    vertical-align: top; }
  ._6 .navigation {
    position: absolute;
    bottom: -10em;
    left: 42%; }
  ._6 .jj {
    margin: 0 auto;
    margin-top: 2em; }
  ._5 {
    padding-top: 2em; }
  ._5 .fp-tableCell {
    vertical-align: top !important; }
  ._5 .button img {
    margin-left: 0; }
  ._4 .section__content {
    margin-top: 0 !important; }
  ._4 .pp {
    text-align: center; }
  ._3 .section__content + .section__content {
    margin-top: 1em; }
  .text._lg {
    font-size: 1.3em; }
  ._3 .kk {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  ._2 .text-center {
    text-align: left; }
  ._2 .text-center br {
    display: none; }
  .title._lg {
    font-size: 1.3em; }
  .meteors {
    display: none; }
  ._1 .button img {
    margin: 0 auto; }
  ._1 .navigation img {
    margin: 0 auto; }
  ._1 .ll {
    margin-top: 10em; }
  ._2 .ll {
    margin-top: 3em !important; }
  ._1 {
    background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_1_mob.png) center bottom no-repeat;
    background-size: cover; }
  ._2 {
    background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_2_mob.png) center no-repeat;
    background-size: cover; }
  ._3 {
    background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_3_mob.png) center top no-repeat;
    background-size: cover; }
  ._4 {
    background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_4_mob.png) center no-repeat;
    background-size: cover; }
  ._5 {
    background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_5_mob.png) center no-repeat;
    background-size: cover; }
  ._6 {
    background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_6.png) center no-repeat;
    background-size: cover; }
  ._7 {
    background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_7.png) center no-repeat;
    background-size: cover; }
  .text-vertical {
    right: 10px !important;
    bottom: -2em !important;
    transform: none !important; }
  ._4 .text-vertical p {
    color: #ffffff !important; }
  ._5 .text-vertical {
    bottom: -14em !important; }
  ._6 .text-vertical {
    bottom: -9em !important; }
  .mob {
    display: block; }
  .desk {
    display: none; }
  body {
    font-size: 16px; }
  .section__content .section__content {
    margin-top: 1em; }
  .grid__col._sm_12 + .grid__col._sm_12 {
    margin-top: 1em; }
  .grid__row._sm_reverse {
    flex-direction: column-reverse; }
  .grid__row._sm_reverse .text-right {
    text-align: left; }
  .grid__row._sm_content_center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .grid__row._sm_content_start {
    justify-content: flex-start; }
  .grid__row._sm_items_start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .grid__row._sm_items_end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .grid__row._sm_items_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .grid__row._sm_items_center {
    align-items: space-between; }
  .grid__col._sm_1 {
    width: 8.33333%; }
  .grid__col._sm_2 {
    width: 16.66667%; }
  .grid__col._sm_3 {
    width: 25%; }
  .grid__col._sm_4 {
    width: 33.33333%; }
  .grid__col._sm_5 {
    width: 41.66667%; }
  .grid__col._sm_6 {
    width: 50%; }
  .grid__col._sm_7 {
    width: 58.33333%; }
  .grid__col._sm_8 {
    width: 66.66667%; }
  .grid__col._sm_9 {
    width: 75%; }
  .grid__col._sm_10 {
    width: 83.33333%; }
  .grid__col._sm_11 {
    width: 91.66667%; }
  .grid__col._sm_12 {
    width: 100%; }
  ._4 .uu {
    margin-top: 1em; }
  .grid__col._sm_12 + .grid__col._sm_12 {
    margin-top: 0em; }
  ._4 .item-center {
    width: 30px; }
  .text._lg {
    font-size: 1em; }
  ._3 .graph {
    margin-top: -3em; }
  .section__content + .section__content {
    margin-top: 1em; }
  ._2 .ll {
    margin-top: 0em !important; }
  body {
    font-size: 14px; }
  ._1 .grid {
    padding-top: 1em; }
  ._1 .navigation img {
    margin-top: 7em; }
  ._6 .fp-tableCell {
    vertical-align: top; }
  ._6 {
    padding-top: 1em; }
  ._1 .button img {
    margin-top: -1em; }
  ._1 .ll {
    margin-top: -3em; }
  ._1 .title br {
    display: none; }
  ._1 .fp-tableCell {
    vertical-align: top; }
  ._6 .navigation {
    bottom: -8em; }
  ._6 .text-vertical {
    bottom: -8em !important; } }

@media (max-width: 370px) {
  ._4 {
    background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_4_mob.png) center top no-repeat;
    background-size: cover; }
  ._1 {
    background: url(https://files.doktornarabote.ru/Anastasiya/longread/aerius_d/public/bg_1_mob_320.png) center bottom no-repeat;
    background-size: cover; } }


/*# sourceMappingURL=bundle.css.map*/